@font-face {
    font-family: 'Alef';
    src: url('Alef-Regular.woff2') format('woff2'),
        url('Alef-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

